@page "/admin"
@model acreator_front.Pages.AdminHomeModel
@{
    Layout = "_AdminLayout";
    ViewData["admin_home"] = "active";
}

<div class="text-center" style="margin-top: 100px">
    <h1>ADMIN PANEL</h1>
    <h3>Admin kimi daxil oldunuz. </h3> 
    <br /> <hr />
    <h3> Lazımi səhifəyə keçid edin.</h3>
</div>
