@page "/admin/crud"
@model AdminModel
@{
    Layout = "_AdminLayout";
    var products = ViewData["productList"] as List<IdNamePair>;
    ViewData["admin_crud"] = "active";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6 mt-5 ">
            <form method="post" enctype="multipart/form-data" id="cForm">
                <div class="form-group">
                    <label for="name">Produkt adı</label>
                    <input type="text" class="form-control" id="name">
                </div>

                <div class="form-group">
                    <label for="price">Qiymət (qəpiklə) </label>
                    <input type="number" class="form-control" id="price">
                </div>

                <div class="form-group">
                    <label class="my-1 mr-2" for="type">Növ</label>
                    <select class="custom-select form-control my-1 mr-sm-2" id="type">
                        <option value="0" selected>Növ seçin</option>
                        <option value="0">Metlax</option>
                        <option value="1">Seramik</option>
                        <option value="2">Qranit</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="width">En (santimetr) </label>
                    <input type="number" class="form-control" id="width">
                </div>

                <div class="form-group">
                    <label for="height">Uzunluq (santimetr) </label>
                    <input type="number" class="form-control" id="height">
                </div>

                <div class="form-group">
                    <label for="image"> Şəkil yüklə </label>
                    <div class="input-group">
                        <input type="file" name="image" id="image" placeholder="Şəkil yüklə..." />
                    </div>
                </div>

                <div class="form-group mt-5">
                    <button type="submit" class="btn btn-primary form-control">Əlavə et</button>
                </div>

                <div class="form-group mt-1">
                    <input class="btn btn-primary form-control resetform" type="reset" value="Formu silmək">
                </div>
            </form>
        </div>

        <div class="col-lg-4 mt-5">
            <form action="post" id="deleteForm">
                <div class="form-group">
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Məhsulu sil</label>
                    <select class="custom-select form-control my-1 mr-sm-2" id="pId">
                        <option value="0" selected>Məhsul seçin</option>
                        @foreach (var p in products)
                        {
                            <option value="@p.Id">@p.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary form-control">Sil</button>
                </div>
            </form>

            <div class="card text-center">
                <h1>Produktların siyahısını idarə edin.</h1>
            </div>
        </div>
    </div>
</div>
