@page "/gallery"
@model PrivacyModel
@{
    ViewData["Title"] = "QALAREYA";
    ViewData["gallery"] = "current";
}

            <!-- inner banner -->
<section class="bg-white inner-banner pages">

<div class="container pad-container">
    <div class="col-md-12">
        <h1 class="text-center">Foto Qalereya</h1>
        <h3 class="text-center">Qalareyada əl işlərimizlə tanış ola bilərsiniz</h3>
    </div>
</div>

</section>
<!-- / inner banner -->

<!-- portfolio section -->
<section>

<div class="container pad-container2">

<!-- projects filter -->
<div class="filter text-left">
<a href="#" class="filter active" data-filter="*">Fotolar</a>
<a href="#" class="filter" data-filter=".branding">Lorem</a>
<a href="#" class="filter" data-filter=".design">Lorem</a>
<a href="#" class="filter" data-filter=".photography">Lorem</a>
</div>
<!-- /projects filter -->

<!-- projects grid -->
<ul class="projects-grid-3 project-grid-gut hide-titles" id="project-grid">

<!-- project item -->
<li class="project-item mix photography">

    <div class="project-img">

        <img class="project-img" src="images/content/portfolio/p-01.jpg" alt="project" />

    </div>
    <div class="project-intro">
        <h3 class="project-title"><a href="images/content/portfolio/p-01.jpg">Tam Bax</a> </h3>


    </div>

</li>
<!-- / project item -->

<!-- project item -->
<li class="project-item mix branding">
    <div class="project-img">
        <img class="project-img" src="images/content/portfolio/p-02.jpg" alt="project" />
    </div>
    <div class="project-intro">
        <h3 class="project-title"><a href="images/content/portfolio/p-02.jpg">Tam Bax</a> </h3>


    </div>
</li>
<!-- / project item -->

<!-- project item -->
<li class="project-item mix design">
    <div class="project-img">
        <img class="project-img" src="images/content/portfolio/p-03.jpg" alt="project" />
    </div>
    <div class="project-intro">
        <h3 class="project-title"><a href="images/content/portfolio/p-03.jpg">Tam Bax</a> </h3>


    </div>
</li>
<!-- / project item -->

<!-- project item -->
<li class="project-item mix branding">
    <div class="project-img">
    <img class="project-img" src="images/content/portfolio/p-04.jpg" alt="project" />
</div>
<div class="project-intro">
    <h3 class="project-title"><a href="images/content/portfolio/p-04.jpg">Tam Bax</a> </h3>


</div>
</li>
            <!-- / project item -->

            <!-- project item -->
            <li class="project-item mix photography">

                <div class="project-img">
                    <img class="project-img" src="images/content/portfolio/p-05.jpg" alt="project" />
                </div>
                <div class="project-intro">
                    <h3 class="project-title"><a href="images/content/portfolio/p-05.jpg">Tam Bax</a> </h3>


                </div>

            </li>
            <!-- / project item -->

            <!-- project item -->
            <li class="project-item mix design">

                <div class="project-img">
                    <img class="project-img" src="images/content/portfolio/p-06.jpg" alt="project" />
                </div>
                <div class="project-intro">
                    <h3 class="project-title"><a href="images/content/portfolio/p-06.jpg">Tam Bax</a> </h3>


                </div>
            </li>
            <!-- / project item -->

            <!-- project item -->
            <li class="project-item mix photography">

                <div class="project-img">
                    <img class="project-img" src="images/content/portfolio/p-07.jpg" alt="project" />
                </div>
                <div class="project-intro">
                    <h3 class="project-title"><a href="images/content/portfolio/p-07.jpg">Tam Bax</a> </h3>


                </div>

            </li>
            <!-- / project item -->

            <!-- project item -->
            <li class="project-item mix design">

                <div class="project-img">
                    <img class="project-img" src="images/content/portfolio/p-08.jpg" alt="project" />
                </div>
                <div class="project-intro">
                    <h3 class="project-title"><a href="images/content/portfolio/p-08.jpg">Tam Bax</a> </h3>


                </div>

            </li>
            <!-- / project item -->

            <!-- project item -->
            <li class="project-item mix design">

                <div class="project-img">
                    <img class="project-img" src="images/content/portfolio/p-09.jpg" alt="project" />
                </div>
                <div class="project-intro">
                    <h3 class="project-title"><a href="images/content/portfolio/p-09.jpg">Tam Bax</a> </h3>


                </div>

            </li>
            <!-- / project item -->

        </ul>
        <!-- / projects grid -->

        <!--/ pagination -->

        
        <div class="pagination pagination-top">
            <ul>
                <li><a href="#">Geri</a>
                </li>
                <li><a href="#" class="current">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">İrəli</a>
                </li>
            </ul>
        </div>

    </div>


</section>
<!--/ portfolio section -->



<!-- tagline section -->
<section class="bot-subscribe ">
    <div class="container">



    </div>

</section>
<!--/ tagline section -->
