@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic Page Needs
================================================== -->
    <meta charset="utf-8">
    <title>ACreaetor - Just Marbellous!</title>
    <!-- Favicon
    ============================================== -->

    <!-- Mobile Specific
================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS Files
================================================== -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/color/yellow.css" id="colors">
    <link rel="stylesheet" type="text/css" href="css/settings.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="all" />
    <link rel="stylesheet" type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>
    <link rel='stylesheet' type='text/css'
        href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,600,700,800,900'>
    <link rel="stylesheet" type="text/css" href="css/fonts/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/fonts/gizmo.css">
    <link rel="stylesheet" type="text/css" href="css/fonts/picons.css">
    <link rel="stylesheet" type="text/css" href="switcher/switcher.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- Modernizr js file ================================================== -->
    <script src="js/modernizr.custom.js"></script>
</head>

<body>
    <!-- loader -->
    <div class="loader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!-- /loader -->
    <!-- content wrapper -->
    <div class="content-wrap">

        <div class="content">

            <!-- search -->
            <section id="header-search-panel">

                <div class="search">
                    <div>
                        <form action="#" id="header-search-form" method="get">
                            <a class="close-search" href="#"><i class="ss-delete"></i></a>
                            <input type="text" id="header-search" name="s" value="Axtar..." autocomplete="off"
                                onfocus="if (this.value == 'Axtar...')this.value = '';"
                                onblur="if (this.value == '')this.value = 'Axtar...';" />
                            <!-- Create a fake search button -->
                            <span class="fake-submit-button">
                                <input type="submit" name="submit" value="submit" />
                            </span>
                        </form>
                    </div>
                    <h6>&nbsp;</h6>
                </div>
            </section>
            <!--/ search -->

            <!-- top bar -->
            <div class="topbar"></div>

            <div class="container topbar-content">

                <div class="col-md-6">
                    <ul>
                        <li><i class="icon-clock-1"></i> Həftə içi sizin xidmətinizdəyik</li>
                    </ul>
                </div>
                <div class="col-md-6 right">
                    <ul class="toplink">
                        <li><a href="#">Qısayollar</a>
                        </li>
                        <li><a href="#">Geridönüş</a>
                        </li>
                        <li><a href="#">Saytın xərtəsi</a>
                        </li>
                        <li class="last"><a href="#" id="header-search-button"><i class="icon-search-1"></i></a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- / top bar -->
            <!-- logo bar -->
            <div class="container header-nav">

                <div class="col-sm-3 col-xs-12">
                    <div class="basic-wrapper">
                        <a class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse"><i
                                class='icon-menu'></i></a>
                        <a class="logo" href="index_EN.html"><img src="images/logo.png" alt="" />
                        </a>
                    </div>
                </div>

                <div class="col-sm-9 col-xs-12">
                    <ul class="top-contact">
                        <li>
                            <div class="icon">
                                <i class="icon-phone-1"></i>
                                <div class="content">
                                    <h3>(+99450)325-76-60</h3>
                                    <p>info@acreator.az</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="icon-location"></i>
                                <div class="content">
                                    <h3># UNVAN #</h3>
                                    <p>Bakı / Azerbaycan, AZ1000 </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="icon">
                                <i class="icon-clock-1"></i>
                                <div class="content">
                                    <h3>B.E - Ş 9:00 - 18:00</h3>
                                    <p style="color: red;">Bazar: Bağlı </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <!--/ logo bar -->

            <!-- nav bar -->
            <div class="bg-navbar"></div>

            <div class="container">

                <div class="collapse navbar-collapse right">

                    <!-- navigation -->
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Ana səhifə</a>
                        </li>
                        <li class="dropdown"><a href="/gallery">Qalereya</a>
                        </li>

                        <li class="dropdown"><a href="/about">Haqqımızda</a>
                        <li class="dropdown"><a href="/products">Məhsullar</a>
                        </li>
                        <li class="dropdown"><a href="/contact">Əlaqə</a>
                        </li>

                        <li class="dropdown"><a href="#" class="dropdown-toggle js-activated">Dil seç</a>
                            <ul class="dropdown-menu">
                                <li><a href="/"><img src="images/flag/azerbaijan.svg" width="20px"
                                            height="20px" alt="" class="languageicon"><span class="lanicon">AZ</span>
                                    </a>
                                </li>
                                <li><a href="index_EN.html"><img src="images/flag/england.svg" width="20px"
                                            height="20px" alt="" class="languageicon"><span
                                            class="lanicon">EN</span></a>
                                </li>
                                <li><a href="index_RU.html"><img src="images/flag/russia.svg" width="20px" height="20px"
                                            alt="" class="languageicon"><span class="lanicon">RU</span> </a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <ul class="social-top">
                                <li><a href="#" class="twitter-alt" title="Twitter" data-rel="tooltip"
                                        data-placement="top"><i class="icon-twitter"></i></a>
                                </li>
                                <li><a href="#" class="facebook-alt" title="Facebook" data-rel="tooltip"
                                        data-placement="top"><i class="icon-facebook"></i></a>
                                </li>
                                <li><a href="#" class="google-alt" title="Google Plus" data-rel="tooltip"
                                        data-placement="top"><i class="icon-gplus"></i></a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <!-- /navigation -->

                </div>
            </div>
            <!-- nav bar -->

            <!-- revolution slider -->
            <div class="banner-container revolution">
                <div class="banner">
                    <ul>

                        <li data-transition="fade"> <img src="images/content/slider-bg1.jpg" alt="" />

                            <div class="caption sfr upper" data-x="10" data-y="200" data-speed="300" data-start="1200"
                                data-easing="Sine.easeOut">
                                <h3>ACreator</h3>
                                <h2>Just <span>Marbellous!</span></h2>
                                <p>Mərmər, Qranit, Seramik satışı və Ağlay işləri</p>
                            </div>

                            <div class="caption sfr" data-x="10" data-y="444" data-speed="300" data-start="1400"
                                data-easing="Sine.easeOut">
                                <a class="btn" href="/products" target="_self">Məhsullara keç >> </a>
                            </div>
                        </li>

                        <li data-transition="fade"> <img src="images/content/slider-bg2.jpg" alt="" />

                            <div class="caption sfr upper" data-x="10" data-y="200" data-speed="300" data-start="1200"
                                data-easing="Sine.easeOut">
                                <h3>ACreator</h3>
                                <h2>Just <span>Marbellous!</span></h2>
                                <p>Mərmər, Qranit, Seramik satışı və Ağlay işləri</p>
                            </div>

                            <div class="caption sfr" data-x="10" data-y="444" data-speed="300" data-start="1400"
                                data-easing="Sine.easeOut">
                                <a class="btn" href="/products" target="_self">Məhsullara keç >> </a>
                            </div>

                        </li>

                        <li data-transition="fade"> <img src="images/content/slider-bg3.jpg" alt="" />

                            <div class="caption sfr upper" data-x="10" data-y="200" data-speed="300" data-start="1200"
                            data-easing="Sine.easeOut">
                            <h3>ACreator</h3>
                            <h2>Just <span>Marbellous!</span></h2>
                            <p>Mərmər, Qranit, Seramik satışı və Ağlay işləri</p>
                            </div>

                            <div class="caption sfr" data-x="10" data-y="444" data-speed="300" data-start="1400"
                                data-easing="Sine.easeOut">
                                <a class="btn" href="/products" target="_self">Məhsullara keç >> </a>
                            </div>

                        </li>

                        <li data-transition="fade"> <img src="images/content/slider-bg4.jpg" alt="" />

                            <div class="caption sfr upper" data-x="10" data-y="200" data-speed="300" data-start="1200"
                                data-easing="Sine.easeOut">
                                <h3>ACreator</h3>
                                <h2>Just <span>Marbellous!</span></h2>
                                <p>Mərmər, Qranit, Seramik satışı və Ağlay işləri</p>
                            </div>

                            <div class="caption sfr" data-x="10" data-y="444" data-speed="300" data-start="1400"
                                data-easing="Sine.easeOut">
                                <a class="btn" href="/products" target="_self">Məhsullara keç >> </a>
                            </div>

                        </li>

                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
                <!-- /.banner -->
            </div>
            <!-- /.fullwidthbanner-container -->

            <!-- tagline section -->
            <section class="bg-dark-gray">
                <div class="container">

                    <div class="row">

                        <div class="col-sm-8 t-pad40 b-pad30">
                            <h3 class="color-white">ACreator - Just Marbellous! <br> 
                                Mərmər, Qranit, Seramik satışı və Ağlay işləri</h3>
                        </div>

                        <div class="col-sm-4">

                        </div>

                    </div>

                </div>
            </section>
            <!--/ tagline section -->

            <!-- intro section -->
            <section class="bg-white">

                <div class="container">

                    <div class="row b-pad40">

                        <div class="col-md-4 t-pad60" data-aos="fade-right" data-aos-duration="1500">
                            <div class="services-box-2">
                                <div class="content">
                                    <p class="b-mgr20"><img src="images/gallery/p3.jpeg" class="pic" alt="">
                                    </p>
                                    <h3 class="introtitles">Ağlay</h3>
                                    <p class="introtitles">. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 t-pad60" data-aos="fade-right" data-aos-duration="1500">
                            <div class="services-box-2">
                                <div class="content">
                                    <p class="b-mgr20"><img src="images/gallery/p9.jpeg" class="pic" alt="">
                                    </p>
                                    <h3 class="introtitles">Ağlay</h3>
                                    <p class="introtitles">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                        do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. </p>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4" data-aos="fade-left" data-aos-duration="1500">

                            <div class="q-form-container">

                                <div class="q-form-title">
                                    <i class="icon-picons-building"></i>
                                    <div class="content">
                                        <p>Sualınız var?</p>
                                        <h3>Bizə Yazın</h3>
                                    </div>
                                </div>

                                <div class="q-form">
                                    <form method="post" id="contact-form" action="#">

                                        <div class="row">
                                            <input name="fname" type="text" value="" placeholder="Ad" />
                                        </div>
                                        <div class="row">
                                            <input name="email" type="text" value="" placeholder="Email" />
                                        </div>
                                        <div class="row">
                                            <input name="tel" type="text" value="" placeholder="Telefon" />
                                        </div>
                                        <div class="row">
                                            <textarea name="message" cols="40" rows="1"
                                                placeholder="Sualnınız"></textarea>
                                        </div>
                                        <div class="row">
                                            <input type="submit" class="btn-submit" value="Göndər" />
                                        </div>

                                    </form>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>
            <!--/ intro section -->

            <!-- features section -->
            <section>

                <div class="container container-pad-b0">

                    <div class="row">

                        <div class="col-md-6 servicestop" data-aos="fade-right" data-aos-duration="1500">

                            <h1 class="t-pad10 servicestitle">XİDMƏTLƏRİMİZ</h1>
                            <h3 class="b-pad60 servicestext"><small>*Xidmətlərimiz aşağıdakılarla məhdudlaşmır.</small></h3>


                            <div class="services-box-2 left">
                                <i class="icon-picons-airplay
                                "></i>
                                <div class="content">
                                    <h3>Dizayn</h3>
                                    <p>Dizaynda, fakturada və rəngdə təbii və süni daşların əhəmiyyətli payını nəzərə
                                        alaraq bəzən ən gözəl daşlar düzgün istifadə edilmədiyi təqdirdə narahat və
                                        arzuolunmaz bir mühitdə yer dəyişdirə bilər. </p>
                                </div>
                            </div>

                            <div class="services-box-2 left">
                                <i class="icon-picons-user-3"></i>
                                <div class="content">
                                    <h3>Kəsim </h3>
                                    <p>Müştəri dizayn işlərini tamamladıqdan və son layihəni
                                        dəqiqləşdirdikdən sonra, mexaniki kəsmə əməliyyatları dünyanın ən dəqiq müasir
                                        avadanlıqlarından istifadə etməklə mexanikləşdirilmiş əsasda aparılır. </p>
                                </div>
                            </div>

                            <div class="services-box-2 left">
                                <i class="icon-picons-close

                                "></i>
                                <div class="content">
                                    <h3>Dəstək xidməti</h3>
                                    <p>Səthləri təmizləmək üçün heç vaxt ağ, kaustik soda, cilalar və xlorlu
                                        həlledicilər kimi kimyəvi maddələrdən istifadə etməyin</p>
                                </div>
                            </div>

                        </div>



                        <div class="col-md-4 col-xs-offset-1 t-pad60" data-aos="fade-left" data-aos-duration="1500">
                            <img src="images/gallery/p11.jpeg" alt="">
                        </div>

                    </div>

                </div>
            </section>
            <!--/ features section -->

            <!-- project section -->
            <section class="bg-dark-gray">

                <div class="container">
                    <div class="row col-md-12 text-center t-pad60 b-pad50" data-aos="zoom-in-down" data-aos="flip-right"
                        data-aos-duration="1500">
                        <h2 class="heading colored fotogallery-title">FOTO QALEREYA</h2>
                        <p class="h-sub-white mt-2">Əl işlərimizlə tanış ola bilərsiniz.</p>
                    </div>
                </div>


                <!-- projects Grid -->
                <ul class="projects-grid hide-titles" id="project-grid">

                    <!-- project Item  -->
                    <li class="project-item mix branding">


                        <img class="project-img" src="images/gallery/p14.jpeg" alt="project" />


                    </li>
                    <!-- End project Item -->

                    <!-- project Item -->
                    <li class="project-item mix design photography">

                        <img class="project-img" src="images/gallery/p2.jpeg" alt="project" />

                    </li>
                    <!-- End project Item -->

                    <!-- project Item -->
                    <li class="project-item mix design">

                        <img class="project-img" src="images/gallery/p16.jpeg" alt="project" />

                    </li>
                    <!-- End project Item -->


                    <!-- project Item -->
                    <li class="project-item mix design">

                        <img class="project-img" src="images/gallery/p4.jpeg" alt="project" />

                    </li>
                    <!-- End project Item -->

                </ul>
                <!-- End projects Grid -->

            </section>
            <!--/ project section -->

            <!-- blog posts -->
            <!-- / blog posts -->

            <!-- parallax section -->
            <section class="parallax home">

                <div class="container pad-container-parallax">


                    <div class="row col-md-12">
                        <h2 class="text-center">ACreator</h2>
                        <h1 class="text-center parallaxtitle">Azərbaycanda &num;1 Mərmər, Qranit, Seramik satışı 
                            və Ağlay işləri şirkəti. </h1>

                    </div>

                </div>

            </section>
            <!--/ parallax section -->

            <!-- client section -->
            <!-- <section>
                <div class="container pad-container">

                    <div class="col-md-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                        data-aos-duration="1500">
                        <div class="row">
                            <h3 class="heading ourclients-title">Bizim müştərilər</h3>

                            <div class="clients">
                                <ul>
                                    <li class="item"><img src="images/content/logo-01.jpg" alt="">
                                    </li>
                                    <li class="item"><img src="images/content/logo-01.jpg" alt="">
                                    </li>
                                    <li class="item"><img src="images/content/logo-01.jpg" alt="">
                                    </li>
                                    <li class="item"><img src="images/content/logo-01.jpg" alt="">
                                    </li>
                                    <li class="item"><img src="images/content/logo-01.jpg" alt="">
                                    </li>
                                    <li class="item"><img src="images/content/logo-01.jpg" alt="">
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-6 ourclients-top">
                        <div class="row" id="musteriler" data-aos="fade-left" data-aos-anchor="#example-anchor"
                            data-aos-offset="500" data-aos-duration="1500">

                            <h3 class="heading ourclients-title">Müştəri məmnuniyyəti</h3>

                            <div class="owl-testimonials owl-carousel t-pad20">

                                <div class="item">
                                    <div class="testimonials">
                                        <div class="testimonials-content1">
                                            <p> “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod
                                                tempor incididunt ut labore et dolore magna aliquea. Ut enim ad minim
                                                veniam, quis nostrud exercitation Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco. Etiam sit amet fringilla lacus. Pellentesque
                                                suscipit ante at ullamcorper pulvinar neque porttitor." </p>
                                        </div>
                                        <div class="testimonials-author">
                                            <img src="images/content/happy-clients-01.jpg" alt="">
                                            <p class="colored"> Lorem, ipsum dolor.</p>
                                        </div>

                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonials">
                                        <div class="testimonials-content1">
                                            <p> “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod
                                                tempor incididunt ut labore et dolore magna aliquea. Ut enim ad minim
                                                veniam, quis nostrud exercitation Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco. Etiam sit amet fringilla lacus. Pellentesque
                                                suscipit ante at ullamcorper pulvinar neque porttitor." </p>
                                        </div>
                                        <div class="testimonials-author">
                                            <img src="images/content/happy-clients-02.jpg" alt="">
                                            <p class="colored"> Lorem, ipsum dolor. </p>
                                        </div>

                                    </div>
                                </div>

                                <div class="item">
                                    <div class="testimonials">
                                        <div class="testimonials-content1">
                                            <p> “Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod
                                                tempor incididunt ut labore et dolore magna aliquea. Ut enim ad minim
                                                veniam, quis nostrud exercitation Ut enim ad minim veniam, quis nostrud
                                                exercitation ullamco. Etiam sit amet fringilla lacus. Pellentesque
                                                suscipit ante at ullamcorper pulvinar neque porttitor." </p>
                                        </div>
                                        <div class="testimonials-author">
                                            <img src="images/content/happy-clients-03.jpg" alt="">
                                            <p class="colored"> Lorem, ipsum dolor.</p>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section> -->
            <!--/ client section -->

            <!-- tagline section -->
            <section class="bot-subscribe">


            </section>
            <!--/ tagline section -->
            
            <footer class="footer">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card footercards">
                                <div class="card-body">
                                    <h4 class="card-title footerabout">Haqqımızda</h4>
                                    <p class="card-body footertext">
                                        ACreator (acreator.az) şirkəti Azərbaycanda #1 Mərmər, Qranit, Seramik satışı və Ağlay işləri şirkətidir.
                                        2005-ci ildən müştərilərimizə ən yüksək xidməti göstəririk.
                                    </p>

                                    <div class="socialsicons">
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <div class="circles">
                                                    <div class="div-icons">
                                                        <img src="icon/facebook-f-brands.svg"
                                                             alt="" class="fbicon">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="circles">
                                                    <div class="div-icons">
                                                        <img src="icon/twitter-brands.svg" alt=""
                                                             class="twicon">
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-inline-item">
                                                <div class="circles">
                                                    <div class="div-icons">
                                                        <img src="icon/instagram-brands.svg"
                                                             alt="" class="instaicon">
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="card footercards2">
                                <div class="card-body">
                                    <h4 class="card-title footercontact-title">Əlaqə</h4>
                                    <div class="footercontacts">
                                        <ul class="list-inline">
                                            <li class="list-inline-item p-2">
                                                <img src="icon/map-marker-alt-solid.svg"
                                                     class="mapsicon" alt=""><span># UNVAN #</span>
                                            </li>
                                            <li class="list-inline-item">
                                                <img src="icon/phone-alt-solid.svg"
                                                     class="phoneicon" alt=""><span class="ml-2"># TELEFON #</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card footercards3">
                                <div class="card-body">
                                    <h4 class="card-title footercontact-title">İş vaxtı</h4>
                                    <ul class="list-inline p-2">
                                        <li class="list-inline-item">
                                            B.E - C: -------------------------- 9:00 am - 18:00 pm
                                        </li>
                                        <li class="list-inline-item">
                                            Şənbə: -------------------------- 9:00 am - 16:00 pm
                                        </li>
                                        <li class="list-inline-item">Bazar: -------------------------- Bağlıdır</li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="container">

                            <div class="col-md-12">
                                <ul class="list-inline footernav">
                                    <li class="list-inline-item">
                                        <a href="/" class="navlink navwhite">
                                            Ana
                                            səhifə
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/about"
                                           class="navlink navwhite">Haqqımızda</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/contact" class="navlink navwhite">Əlaqə</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="/products" class="navlink navwhite">Məhsullar</a>
                                    </li>

                                </ul>
                            </div>


                            <div class="row d-flex justify-content-center designbyme">
                                <div class="col-lg-12">
                                    <h4 class="copyrighttitle text-center">
                                        ACreator.az - Copyright &copy; All rights reserved | &nbsp;by
                                        <a href="https://www.facebook.com/elmar1087">Elmar Mammadov</a> &nbsp;&&nbsp;
                                        <a href="https://www.facebook.com/alvan.rahimli">Alvan Rahimli</a>
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
    </div>
    <!--/content wrapper -->

            <!-- JS Files================================================== -->
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script src="js/jquery.min.js"></script>
            <script src="js/jquery.themepunch.plugins.min.js"></script>
            <script src="js/jquery.themepunch.revolution.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.easing.1.3.js"></script>
            <script src="js/jquery.inview.js"></script>
            <script src="js/jquery.ui.totop.js"></script>
            <script src="js/isotope.pkgd.min.js"></script>
            <script src="js/imagesloaded.pkgd.min.js"></script>
            <script src="js/jquery.fancybox.pack.js"></script>
            <script src="js/jquery.easytabs.min.js"></script>
            <script src="js/jquery.sticky.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.zflickrfeed.min.js"></script>
            <script src="js/twitter-bootstrap-hover-dropdown.min.js"></script>
            <script src="js/jquery.easy-pie-chart.js"></script>
            <script src="js/classie.js"></script>
            <script src="js/search.js"></script>
            <script src="js/gizmo.js"></script>
            <script src="js/scripts.js"></script>
            <script>
                AOS.init();
            </script>
</body>

</html>