@page "/about"
@model PrivacyModel
@{
    ViewData["Title"] = "HAQQIMIZDA";
    ViewData["about"] = "current";
}

<section class="bg-white inner-banner pages">

                <div class="container pad-container">
                    <div class="col-md-12">
                        <h1 class="text-center">@ViewData["Title"]</h1>
                        <h3 class="text-center">Bizim kim olduğumuzu öyrünməyə hazırsınız?</h3>
                    </div>
                </div>

            </section>
            <!-- / inner banner -->

            <!-- intro section -->
            <section class="bg-white">
                <div class="container pad-container2">

                    <div class="row t-pad20">

                        <div class="col-md-4">
                            <img src="images/content/aboutimg.jpg" alt="" class="card-img-top">
                            <h3 class="text-center abouttitle">Biz kimik?</h3>
                            <p class="text-center abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.</p>
                            
                           
                        </div>

                        <div class="col-md-4">
                            <img src="images/content/aboutimg.jpg" alt="" class="card-img-top">
                            <h3 class="text-center abouttitle">Nə edirik?</h3>
                            <p class="text-center abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.</p>
                            

                        </div>

                        <div class="col-md-4">
                            <img src="images/content/aboutimg.jpg" alt="" class="card-img-top">
                            <h3 class="text-center abouttitle">Niyə bizi seçdiniz?</h3>
                            <p class="text-center abouttext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris.</p>
                            

                        </div>


                    </div>

                </div>
            </section>
            <!--/ intro section -->
